<div class="login-container">
  <div class="login-form-container">
    <%= form_for :session, :url => {:controller => "session", :action => "create"} do |f| %>
      <div class="flash-messages">
        <% if flash[:login_error] %>
          <p class="center failure"><%= flash[:login_error] %></p>
        <% end %>
        <% if flash[:reset_password_email_sent] %>
          <p class="center"><%= flash[:reset_password_email_sent] %></p>
        <% end %>
        <% if flash[:updated_password] %>
          <p class="center"><%= flash[:updated_password] %></p>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :placeholder => "jane@example.com", :tabindex => 1 %>
        <%= f.label :remember_me, class: "remember-me-label" %>
        <%= f.check_box :remember_me %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => "secret!", :tabindex => 2 %>
        <%= link_to "Forgot Your Password?", forgot_password_path, class: "main-link forgot-password-link", :tabindex => 4 %>
      </div>
      <div class="login-button-container">
        <%= f.submit "Login", :tabindex => 3 %>
      </div>
    <% end %>
  </div>
</div>