<%= flash[:login_failure] %>
<div class="columns">
  <section class="column two-thirds homepage-marketing">
    <h3>We know you lead a busy life, so we're helping you simplify how you manage your social media.</h3>
    <ul>
      <li>View your networks in one place</li>
      <li>Keep in touch with all your friends</li>
      <li>Share across multiple networks at the same time</li>
      <li>Spend less time moving between networks</li>
    </ul>
  </section>
  <section class="column one-third registration-container">
    <h3>Register with OneFeed</h3>
    <% if @user.errors.present? %>
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
    <%= form_for @user, html: {class: "registration-form"} do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "Joe" %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Smith" %>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "joe@example.com" %>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Secret!" %>
      <%= f.submit "Register" %>
    <% end %>
  </section>
</div>
