<!DOCTYPE html>
<html>
<head>
  <title>Onefeed</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<header>
  <nav>
    <%= link_to image_tag("one_feed_logo.png", class: "site-logo"), root_path %>
    <div class="main-nav-container">
      <% if logged_in? %>
        <ul>
          <li><%= link_to "My Account", account_path, class: "main-nav-link" %></li>
          <li><%= link_to "Logout", "/destroy", class: "main-nav-link" %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>

<main>
  <%= yield %>
</main>

</body>
</html>
